.header-site {
    background-image: url(stone.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
}

.serv-site {
    background-color: #8e45bd;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.desc {
    padding: 30px;
    font-weight: 600;
}

.serv-site h2,
h3 {
    color: #69bd45;
}

.card-site {
    background-image: url(mai.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
}

.card {
    color: black;
}

.card h5 {
    color: #8e45bd;
    font-weight: bolder;
    font-size: 140%;
}

.contato {
    background-color: #69bd45;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.contato h2 {
    color: #8e45bd;
}

footer {
    padding-bottom: 100px;
    padding-top: 100px;
    color: white;
}

footer a {
    color: white;
}

.enviaform {
    width: 200px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: auto;
}

form label {
    font-weight: bold;
    font-size: 125%;
}

.lead {
    font-weight: bold;
}

.servico {
    font-size: 60px;
}
.card{
    background-color: #ffffff81 !important;
}


@media screen and (max-width: 720px) {
    .contato {
        padding-left: 20px;
        padding-right: 20px;
    }
}